.Reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 15px 200px;
  text-align: justify;
}

h1 {
  font-size: 20px;
}

.MovieSelectionTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

@media (orientation: portrait) {
  .Reviews {
    margin: 10px;
    text-align: center;
    overflow: auto;
  }

  .MovieSelectionTabs {
    margin-top: 10px;
  }
}
