.Reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 15px 200px 120px;
  text-align: justify;
}

h1 {
  font-size: 20px;
}

@media (orientation: portrait) {
  .Reviews {
    margin: 10px;
    text-align: center;
  }
}
