.About {
    margin: 50px 100px;
    text-align: justify;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: auto; 
  }

  @media (orientation: portrait) {
    .About {
      margin: 10px;
      text-align: center;
    }
  }