.About {
    margin: 50px 100px;
    text-align: justify;
    display: flex;
    justify-content: center; /* Horizontally centers items */
    align-items: center; /* Vertically centers items */
    height: auto; 
  }