.MovieSelectionTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 15px 0;
}

.MovieSelectionTabs a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #07434a;
  border: 1px solid #0f92a0;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MovieSelectionTabs a.selected {
  background-color: #0d7580;
}

.MovieSelectionTabs a:hover {
  color: #ff4500;
}

@media (orientation: portrait) {
  .MovieSelectionTabs {
    margin: 15px;
    gap: 1rem;
    padding-left: 0;
  }
}
