.MovieSelectionTabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 15px 0;
}

.MovieSelectionTabs a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: #07434a;
  border: 1px solid #0f92a0;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MovieSelectionTabs a.selected {
  background-color: #0d7580;
}

.MovieSelectionTabs a:hover {
  color: #ff4500;
}

@media (max-width: 900px) {
  .MovieSelectionTabs {
    gap: 0.6rem;
    margin: 10px 0;
  }

  .MovieSelectionTabs a {
    font-size: 16px;
    padding: 8px 14px;
  }
}

@media (max-width: 400px) {
  .MovieSelectionTabs a {
    font-size: 14px;
    padding: 7px 10px;
  }
}
