.Authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 50px;
    text-align: justify;
}

.Elia {
    height: 360px;
    width: 275px;
}

.Stas {
    height: 360px;
    width: 500px; 
}